@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Montserrat', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');

.font-benguiat {
  font-family: 'Ceviche One', cursive;
}
